{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{% static 'mystyle.css' %}">
    
<body>

<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>
<div class="collection">
<img src="{% static 'media/01.jpeg' %}" alt="01">
<img src="{% static 'media/02.JPG' %}" alt="02">
<img src="{% static 'media/03.jpeg' %}" alt="03">
<img src="{% static 'media/04.jpeg' %}" alt="04">
<img src="{% static 'media/05.jpeg' %}" alt="05">
<img src="{% static 'media/01.jpeg' %}" alt="01">
<img src="{% static 'media/02.JPG' %}" alt="02">
<img src="{% static 'media/03.jpeg' %}" alt="03">
<img src="{% static 'media/04.jpeg' %}" alt="04">
<img src="{% static 'media/05.jpeg' %}" alt="05">
<img src="{% static 'media/01.jpeg' %}" alt="01">
<img src="{% static 'media/02.JPG' %}" alt="02">
<img src="{% static 'media/03.jpeg' %}" alt="03">
<img src="{% static 'media/04.jpeg' %}" alt="04">
<img src="{% static 'media/05.jpeg' %}" alt="05">
<img src="{% static 'media/01.jpeg' %}" alt="01">
<img src="{% static 'media/02.JPG' %}" alt="02">
<img src="{% static 'media/03.jpeg' %}" alt="03">
<img src="{% static 'media/04.jpeg' %}" alt="04">
<img src="{% static 'media/05.jpeg' %}" alt="05">
<img src="{% static 'media/01.jpeg' %}" alt="01">
<img src="{% static 'media/02.JPG' %}" alt="02">
<img src="{% static 'media/03.jpeg' %}" alt="03">
<img src="{% static 'media/04.jpeg' %}" alt="04">
<img src="{% static 'media/05.jpeg' %}" alt="05">
<img src="{% static 'media/01.jpeg' %}" alt="01">
<img src="{% static 'media/02.JPG' %}" alt="02">
<img src="{% static 'media/03.jpeg' %}" alt="03">
<img src="{% static 'media/04.jpeg' %}" alt="04">
<img src="{% static 'media/05.jpeg' %}" alt="05">
</div>
<h1>Google link photos</h1>
<div class="collection">
    <img src="https://static.vecteezy.com/system/resources/previews/028/626/672/non_2x/hd-image-ai-generative-free-photo.jpeg" alt="03">
    <img src="https://p4.wallpaperbetter.com/wallpaper/696/684/59/drops-relax-rocks-stones-wallpaper-preview.jpg" alt="03">
    <img src="https://img.freepik.com/free-photo/beautiful-pink-spa-flowers-spa-hot-stones-water-wet-background-side-composition-copy-space-spa-concept-dark-background_1220-1433.jpg" alt="03">
    <img src="https://img.freepik.com/free-photo/autumn-leaf-falling-revealing-intricate-leaf-vein-generated-by-ai_188544-9869.jpg" alt="03">
    <img src="https://img.freepik.com/premium-photo/abstract-background-with-tropical-leaves-magenta-azure-generative-ai_836899-691.jpg?semt=ais_hybrid" alt="03">
    <img src="https://wallpapers.com/images/featured/hd-a5u9zq0a0ymy2dug.jpg" alt="03">
    <img src="https://rukminim2.flixcart.com/image/850/1000/xif0q/wallpaper/d/b/y/122-92-1-poster-no-326-hd-print-house-original-imagmt4n7cy6z7rh.jpeg?q=20&crop=false" alt="03">
    <img src="https://img.freepik.com/premium-photo/raindrop-dry-leaf-generative-ai_225446-6059.jpg" alt="03">
    <img src="https://thumbs.dreamstime.com/b/flowers-wallpapers-hd-wallpaper-cave-flowers-wallpapers-hd-wallpaper-cave-324019003.jpg" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRda7n1R_V3RXQG9RpyPJYj4yK5MHhdkSWIHw&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIm6xqQgyrbePHc0uPvjXAn49o4Ox3qx_NCg&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRALWB1of3fFsvrOfEYYNzwc6n2d9-I-aAMCA&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8GDyG-pjnGqDebYCtYZ1zdQ-Up_Dwc0eQxA&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI1wkf-lNgb0jaa6M1yWZv_6GMRytuYW2H-Q&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStGCms3D0xczxeInYU5eJKPReAJBy-svCwJw&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfNPsMuG3gAljdomW5cSvsfF6CTdW4qU2GuQ&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcGHhGHJTkwQNMIQaQuzwUqJFBEM9EXSpIyw&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReqXUWHhvgS_uCZR1vCu0jYrGiSS_5OahAeA&s" alt="03">
    <img src="https://t3.ftcdn.net/jpg/08/07/28/18/360_F_807281855_tf1GkaRzrFBnfFILz0q2GfU9cV5UiC8A.jpg" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjmuMFPGPf4D4RJXLUZxw1heeYAAvqK-VxnA&s" alt="03">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcX2BwtNyYs3ZXBPDMZCPxXiHqO83tUy6Mug&s" alt="05">
</div>    
<div class="new">
<h1> 4k Ultra HD Videos</h1>
<video width=49.8% height="408px" controls>
    <source src="{% static 'video/011.mp4' %}" type="video/mp4">
    Your browser does not support the video tag.
</video>

<iframe width=49.8% height="408px"
        src="https://www.youtube-nocookie.com/embed/BFS9n4B_2xA" 
        title="YouTube video player" 
        frameborder="0" 
        allow="autoplay; encrypted-media; fullscreen">
</iframe>

<iframe width=49.8% height="408px"
        src="https://www.youtube-nocookie.com/embed/QoaDkejcHSc" 
        title="YouTube video player" 
        frameborder="0" 
        allow="autoplay; encrypted-media; fullscreen">
</iframe>

<iframe width=49.8% height="408px"
        src="https://www.youtube-nocookie.com/embed/ZV70-WYRNnU" 
        title="YouTube video player" 
        frameborder="0" 
        allow="autoplay; encrypted-media; fullscreen">
</iframe>


</div>

</body>
</html>